@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    font-family: 'Roboto';
    color: #000000;
}

h2 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    line-height: 101.38%;
}

h4 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    line-height: 130%;
}

@media (min-width: 1280px) {
  h2 {
      font-size: 3.8vw;
  }

  h4 {
      font-size: 1.8vw;
  }

  .course {
      margin-bottom: 12vw;
  }

  .course-container {
      padding-left: 8vw;
  }

  .course-header {
      margin-bottom: 5.5vw;
  }

  .course-main {
      display: flex;
      margin-bottom: 5.2vw;
  }

  .course-main-content {
      width: 46vw;
      margin-right: 14vw;
  }

  .course-main-content p {
      font-size: 1.7vw;
  }

  .course-main-content p.course-main-content-first {
      margin-bottom: 2.8vw;
  }

  .course-main-img {
      display: flex;
      justify-content: center;
      padding-right: 10vw;
  }

  .cameraman {
      width: 21.8vw;
  }

  .course-footer-container {
      display: flex;
  }

  .course-footer-img {
      width: 16vw;
      margin-right: 13vw;
  }

  .course-footer-content {
      display: flex;
      align-items: center;
  }

  .course-footer-content-box {
      margin-right: 6.6vw;
  }

  .course-footer-content-box h4 {
      margin-bottom: 0.5vw;
  }

  .course-footer-content-box p {
      width: 10.5vw;
      font-size: 1.3vw;
  }

}
@media (min-width: 320px) and (max-width: 991px) {
  h2 {
      font-size: 7vw;
  }

  h4 {
      font-size: 3.2vw;
  }

  .course {
      margin-bottom: 12vw;
  }

  .course-container {
      padding-left: 10vw;
  }

  .course-header {
      margin-bottom: 5.5vw;
  }


  .course-main-content {
      width: 82vw;
      margin-bottom: 4.2vw;
  }

  .course-main-content p {
      font-size: 3.2vw;
  }

  .course-main-content p.course-main-content-first {
      margin-bottom: 5.5vw;
  }

  .course-main-img {
      display: flex;
      justify-content: center;
      padding-right: 10vw;
      margin-bottom: 12vw;
  }

  .cameraman {
      width: 46vw;
  }

  .course-footer-img {
      display: none;
  }

  .course-footer-content {
      display: flex;
      flex-wrap: wrap;
  }

  .course-footer-content-box {
      margin-bottom: 9vw;
      margin-right: 48px;
  }

  .course-footer-content-box h4 {
      margin-bottom: 0.2vw;
  }

  .course-footer-content-box p {
      width: 23vw;
      font-size: 2.6vw;
      padding-right: 2vw;
  }
}

@media (min-width: 992px) and (max-width: 1279px) {
  h2 {
      font-size: 3.8vw;
  }

  h4 {
      font-size: 1.8vw;
  }

  .course {
      margin-bottom: 12vw;
  }

  .course-container {
      padding-left: 8vw;
  }

  .course-header {
      margin-bottom: 5.5vw;
  }

  .course-main {
      display: flex;
      margin-bottom: 5.2vw;
  }

  .course-main-content {
      width: 46vw;
      margin-right: 14vw;
  }

  .course-main-content p {
      font-size: 1.7vw;
  }

  .course-main-content p.course-main-content-first {
      margin-bottom: 2.8vw;
  }

  .course-main-img {
      display: flex;
      justify-content: center;
      padding-right: 10vw;
  }

  .cameraman {
      width: 21.8vw;
  }

  .course-footer-container {
      display: flex;
  }

  .course-footer-img {
      width: 16vw;
      margin-right: 13vw;
  }

  .course-footer-content {
      display: flex;
      align-items: center;
  }

  .course-footer-content-box {
      margin-right: 6.6vw;
  }

  .course-footer-content-box h4 {
      margin-bottom: 0.5vw;
  }

  .course-footer-content-box p {
      width: 10.5vw;
      font-size: 1.3vw;
  }
}